:root {
  --editor: calc(90vh - 7rem);
  --width: calc(100vw - 4rem);
}

.center {
  width: 100vw;
  margin: -3vh 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: auto;
}

.bottom {
  justify-items: flex-end;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title {
  color: black;
  margin: 5rem 0 0 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.session {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
}

.content {
  margin-bottom: 3rem;
}

.editor {
  max-width: calc(100vw-4rem);
  margin: 0rem 2rem 0;
}

.card-wrapper {
  width: 250px;
  max-height: 300px;
  align-self: center;
}

.input-wrapper {
  display: block;
  margin-bottom: 1rem;
}

div.DraftEditor-root {
  border: 1px solid #eee;
  width: var(--width);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  width: calc(var(--width) - 2rem);
  height: var(--editor);
  padding: 1rem;
  overflow: hidden;
  word-break: break-word;
}

div.public-DraftEditor-content {
  padding-bottom: 3rem;
}
